/*--- Start Font Face --*/
@font-face {
  font-family: 'PlayfairDisplayRegular';
  src: url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplayBold';
  src: url('../fonts/PlayfairDisplay-Bold.woff') format('woff'), url('../fonts/PlayfairDisplay-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplayBoldItalic';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff'), url('../fonts/PlayfairDisplay-BoldItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplayItalic';
  src: url('../fonts/PlayfairDisplay-Italic.woff') format('woff'), url('../fonts/PlayfairDisplay-Italic.ttf')  format('truetype');
}
/*--- End Font Face --*/
/*-----*/
/*-----*/
